body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #e0f7fa;
    padding: 20px;
    background-color: #e0f7fa;
}

h2 {
    font-size: 24px;
    color: #e0f7fa;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;


}

