/* CSS in 'css/housing_list_styles.css' */

.body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; /* Hellgrauer Hintergrund */
    color: #333; /* Dunkelgraue Textfarbe */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Weißer Hintergrund für den Inhalt */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #007bff; /* Blaue Überschrift */
    margin-bottom: 20px;
    text-align: center;
}

.housing-item {
    border: 1px solid #ddd; /* Hellgrauer Rahmen */
    background-color: #fff; /* Weißer Hintergrund */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.housing-item p {
    margin: 5px 0;
}

.housing-item img {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.housing-item form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Formularelemente rechts ausrichten */
}

.housing-item form label {
    margin-right: 10px;
    font-weight: bold;
    color: #555; /* Dunkelgrauer Text für Labels */
}

.housing-item form input[type="number"] {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.housing-item form button {
    padding: 8px 15px;
    background-color: #28a745; /* Grüne Schaltfläche */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.housing-item form button:hover {
    background-color: #218838; /* Dunklere grüne Farbe bei Hover */
}

.error {
    color: #dc3545; /* Rote Textfarbe für Fehlermeldungen */
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
