{% extends 'home.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    Add holiday housing
{% endblock %}

{% block logged_in_content %}
    <h2>Add a new holiday housing</h2>
    <p><a href="{% url 'housing-list' %}">Return</a></p>
    <form method="post" action="{% url 'housing-create' %}" enctype="multipart/form-data">

        {% csrf_token %}
        <div>
            {{ form.title.label }}: {{ form.title }}
        </div>
        <div>
            {{ form.type.label }}: {{ form.type }}
        </div>
        <div>
            {{ form.location.label }}: {{ form.location }}
        </div>
        <div>
            {{ form.costs.label }}: {{ form.costs }}
        </div>
        <div>
            {{ form.rooms.label }}:{{ form.rooms }}
        </div>
        <div>
            {{ form.specials.label }}:{{ form.specials }}
        </div>
<div>
                {{ form.price.label }}:{{ form.price }}
            </div>

         <div>
            {{ form.max_quantity.label }}:{{ form.max_quantity }}
        </div>
         <div class="form-group">
            {{ form.image.label }}:{{ form.image }}
        </div>
        <div>
            {{ form.pdf_file.label }}: {{ form.pdf_file }}
        </div>

        <div>
            <button type="submit">Add housing</button>
        </div>
    </form>
{% endblock %}

